@import url(http://fonts.googleapis.com/css?family=Lato:400,900);
/*! normalize.css http://github.com/necolas/normalize.css */

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */

audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */

[hidden] {
  display: none;
}


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *  http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *  www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */

body {
  margin: 0;
}


/* =============================================================================
   Links
   ========================================================================== */

/*
 * Addresses outline displayed oddly in Chrome
 */

a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */

a:hover,
a:active {
  outline: 0;
}


/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */

h1 {
  font-size: 2em;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
}

h3 {
  font-size: 1.17em;
  margin: 0;
}

h4 {
  font-size: 1em;
  margin: 0;
}

h5 {
  font-size: 0.83em;
  margin: 0;
}

h6 {
  font-size: 0.75em;
  margin: 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */

dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */

mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */

p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */

/* 1 */

q {
  quotes: none;
}

/* 2 */

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}


/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *  code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */

svg:not(:root) {
  overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */

figure {
  margin: 0;
}


/* =============================================================================
   Forms
   ========================================================================== */

/*
 * Corrects margin displayed oddly in IE6/7
 */

form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */

button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */

button,
input {
  line-height: normal; /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *  Known issue: inner spacing remains in IE6
 */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer; /* 1 */
  -webkit-appearance: button; /* 2 */
  *overflow: visible;  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */

button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
    Known issue: excess padding remains in IE6
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */

textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}


/* =============================================================================
   Tables
   ========================================================================== */

/*
 * Remove most spacing between table cells
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* variables */
/* mixins */
/* build */
html {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 100%;
  overflow: auto; }

body {
  background-color: #363f4c;
  color: #e6ebf2;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-width: 992px; }

a {
  color: #b8cae5;
  font-weight: 700;
  text-decoration: none; }
  a:hover {
    color: #ff99dd;
    text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  color: #fafbfc;
  font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.6em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #fafbfc; }
    h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
      color: #fafbfc;
      text-decoration: none; }
  h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p {
    padding-top: 1em; }

h1 {
  font-size: 2em; }
  h1 + p {
    color: #fafbfc;
    font-size: 1.35em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.3em;
  padding-top: 1em; }

h5 {
  font-size: 1.25em;
  padding-top: 1em; }

h6 {
  font-size: 1.2em;
  padding-top: 1em; }

code {
  background-image: -webkit-linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  background-color: rgba(0, 0, 0, 0.01);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  font-size: 1em;
  line-height: 1.65em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }

p {
  font-size: 1.2em;
  line-height: 1.65em;
  margin: 0;
  padding: 0.5em 0 1em;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); }
  p + h1, p + h2, p + h3, p + h4, p + h5, p + h6 {
    padding-top: 2em; }
  p code {
    box-shadow: rgba(0, 0, 0, 0.05) 0 1px 1px inset, rgba(255, 255, 255, 0.1) 0 1px 0;
    display: inline-block;
    font-size: 0.8em;
    line-height: inherit;
    padding: 0 6px; }

img {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  max-height: 700px;
  max-width: 100%; }

ul li, ol li {
  line-height: 1.65em;
  padding: 0.2em 0; }

blockquote {
  margin: 0;
  padding: 0.5em 0 1em; }
  blockquote p code, blockquote code {
    display: block;
    padding: 10px 16px; }

.twitter-tweet {
  margin: 2em auto !important;
  width: 600px !important; }

/* scene */
@-webkit-keyframes fadeScene {
  0% {
    background-image: url("/assets/imgs/scenes/clear.png"); }

  100% {
    background-image: url(../imgs/scenes/downtown.jpg); } }

@-moz-keyframes fadeScene {
  0% {
    background-image: url("/assets/imgs/scenes/clear.png"); }

  100% {
    background-image: url(../imgs/scenes/downtown.jpg); } }

@-o-keyframes fadeScene {
  0% {
    background-image: url("/assets/imgs/scenes/clear.png"); }

  100% {
    background-image: url(../imgs/scenes/downtown.jpg); } }

@keyframes fadeScene {
  0% {
    background-image: url("/assets/imgs/scenes/clear.png"); }

  100% {
    background-image: url(../imgs/scenes/downtown.jpg); } }

.scene {
  background-color: #363f4c;
  background-image: url("/assets/imgs/scenes/clear.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  color: #e6ebf2;
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  left: 0;
  min-width: 992px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; }
  .scene img {
    opacity: 0; }
  .scene .fade {
    background-image: -webkit-linear-gradient(top, #363f4c, #363f4c 50%, rgba(54, 63, 76, 0.5));
    background-image: linear-gradient(to bottom, #363f4c, #363f4c 50%, rgba(54, 63, 76, 0.5));
    bottom: 0;
    left: 0;
    opacity: 0.95;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 2; }
  .loaded .scene {
    -webkit-animation: fadeScene 1s ease-in;
    -moz-animation: fadeScene 1s ease-in;
    animation: fadeScene 1s ease-in;
    background-image: url("/assets/imgs/scenes/downtown.jpg"); }

/* build */
.wrap {
  margin: 75px auto;
  position: relative;
  width: 940px;
  z-index: 100;
  /* header */ }
  .wrap header {
    min-height: 98px;
    padding-left: 128px;
    position: relative;
    z-index: 100; }
    .wrap header .avatar {
      background-image: -webkit-linear-gradient(top, #fafbfc, #e9ebf0);
      background-image: linear-gradient(to bottom, #fafbfc, #e9ebf0);
      box-shadow: rgba(0, 0, 0, 0.7) 0 2px 2px, white 0 1px 0 inset;
      border-radius: 90px;
      display: block;
      height: 90px;
      margin-left: -128px;
      padding: 4px;
      position: fixed;
      top: 75px;
      width: 90px; }
      .wrap header .avatar:before {
        background-image: -webkit-linear-gradient(-405deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
        background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.08) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0));
        box-shadow: rgba(0, 0, 0, 0.25) 0 1px 1px inset;
        border-radius: 90px;
        content: "";
        display: block;
        height: 90px;
        left: 4px;
        position: absolute;
        top: 4px;
        width: 90px;
        z-index: 10; }
      .wrap header .avatar img {
        border-radius: 90px;
        display: block;
        height: 90px;
        position: relative;
        width: 90px;
        z-index: 5; }
    .wrap header .text {
      padding-top: 16px; }
      .wrap header .text .name {
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 22px;
        line-height: 1em; }
        .wrap header .text .name a {
          color: white; }
          .wrap header .text .name a:hover {
            color: #b8cae5; }
      .wrap header .text .bio {
        color: #e6ebf2;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        padding: 2px 0 0;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5); }
      .wrap header .text #lastfm p {
        color: #d1d8e3;
        display: none;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 13px;
        margin: 0;
        padding: 2px 0 0; }
        .wrap header .text #lastfm p:first-child {
          display: block; }
    .wrap header .twitter-follow-button {
      margin-left: -109px;
      position: fixed;
      top: 199px;
      width: 60px; }
  .wrap .content {
    max-width: 750px;
    min-width: 500px;
    padding: 3em 80px 5em 128px;
    position: relative;
    z-index: 50; }
    .wrap .content .articles ul {
      list-style: none;
      margin: 0;
      padding: 0; }
      .wrap .content .articles ul li {
        color: #d1d8e3;
        font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.8em;
        padding: 1em 0; }
        .wrap .content .articles ul li a {
          color: #fafbfc;
          display: block;
          font-size: 26px;
          padding-bottom: 8px; }
    .wrap .content img {
      display: block;
      max-width: 100%; }

/* dog-eulogy */
.dog-eulogy header a.avatar:before {
  background: url("/assets/imgs/avatars/daka.png") no-repeat 0 0;
  background-size: 90px 90px;
  content: "";
  display: block;
  height: 90px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 90px; }
.dog-eulogy header a.avatar img {
  display: none; }

/* hammer-github */
.fab-hex .scene .fade {
  background-image: -webkit-linear-gradient( #fabfab, #fabfab 50%, rgba(250, 191, 171, 0.5));
  background-image: linear-gradient( #fabfab, #fabfab 50%, rgba(250, 191, 171, 0.5)); }

/* facebook-messages */
.facebook-messages .content img {
  width: 668px; }

/* @stripe */
.at-stripe .content h1 {
  display: none; }
.at-stripe .content img {
  width: 290px; }