<ul>
  <li>Apr 2013 <a href="article/mailto-chrome.html">Changing the default mail client in Chrome</a></li>
  <li>Mar 2013 <a href="article/hammer-github.html">Hammer Builds on GitHub</a></li>
  <li>Feb 2013 <a href="article/stripe.html">@stripe</a></li>
  <li>Aug 2012 <a href="article/facebook-messages.html">Facebook Chat in Messages for Mac</a></li>
  <li>Jul 2012 <a href="article/screenshot-directory.html">Change Mac OS X Screenshot Directory</a></li>
  <li>Jan 2012 <a href="article/window-positions.html">Keeping Windows In Position Across Displays On Mac</a></li>
  <li>Aug 2010 <a href="article/time.html">Time</a></li>
  <li>Jul 2010 <a href="article/dog-eulogy.html">Eulogy on the Dog</a></li>
</ul>
