<h1>Luck</h1>

<p>I&#8217;ve never been big on hard work for no returns and that&#8217;s often what getting a job can feel like. You stress your ass off trying to find a job, then when you do you stress even more at the amount of work you are required to do with very little or no enjoyment from the job. It sucks big time and I&#8217;ve been very fortunate enough in my short career (coming up to 5 years now) that a very, very small proportion of that was unenjoyable.</p>

<p>People often ask me how I got my various jobs and how they could go about replicating my success so far. It&#8217;s a question I hear mainly from my friends in Scotland and even parts of England which shows you the extent of the problem at hand. What I&#8217;ve failed to tell them is I haven&#8217;t the foggiest idea of how to get the jobs I did. Honestly, not a clue.</p>

<p>So that takes me back to the title, give luck a chance. Many people think that there has to be a solution to every problem and that without said solution you won&#8217;t be as good as the next person. To me, luck is our most valuable possession. It&#8217;s something we all experience in our lifetimes, even if it&#8217;s just dropping a sharp knife and it missing all of your limbs on the way to the floor, we&#8217;ve all had some.</p>

<p>Luck is something we need to utilize and think of it less as a challenge of chance and more of something we can actively seek. There is the famous saying of &#8220;You make your own luck&#8221; and I firmly believe in that. Luck isn&#8217;t something which is dished out by some superior being, it&#8217;s collected by those who want it the most. Let me explain.</p>

<p>As a 16 year old in a small Scottish town of roughly 1,500 people, I sat in my grandparent&#8217;s spare bedroom (where I was living) working on a small side project I called Klydo. A name which my uncle kindly worked out could mean &#8220;Keep Logging Your Days Online&#8221; which made sense since it was a social aggregator in its most primitive form. Think of a FriendFeed with feeds being pushed out from Klydo too. I spent about a year working on that with a friend of mine and we got it to an alright stage, especially for a couple of teenagers from rural parts in different countries.</p>

<p>June 2008 arrives and I have just left a job as a food packer which I spent a whole 8 hours at before deciding it wasn&#8217;t for me. This in turn created a nice big canyon between me and my parents (hence why I was living with my grandparents at the time). Literally 2 days after walking off that job I received an email from a company in Coventry, roughly 450 miles from my hometown. After various back and forth emails I wiggled myself into a full-time job as a designer. Bang tidy!</p>

<p>Why did this happen? I had a website similar to what they were after, that was it. They actually offered to purchase the website from me but I turned it around and offered to build a replica site for them if they would hire me full time. That was it, I had a job and started my life in the web.</p>

<p>This carried on to my next job too. After 12 months with the previous company (let&#8217;s call them Company A) the company closed its doors and we all had to find other forms of employment. I went onto Job Seeker&#8217;s allowance whilst I continued to look for jobs. One day whilst sitting in my bi-weekly (I think they were bi-weekly) meeting with the job centre in order to claim my £54 my phone buzzed in my pocket. I left it until I left the job centre as to not be rude even though everyone I dealt with at the place was an asshole to me.</p>

<p>When I checked my phone it turned out a client for Company A (let&#8217;s call them Company B) was looking to hire a full-time team in order to replace the gap left by Company A&#8217;s closure. Again they were based in the West Midlands but this time around Birmingham, so off I went. I then one day asked why Company B contacted me when they could have easily done the usual hiring process, this is worth hearing.</p>

<p>Firstly, when a representative from Company B was meeting with us at Company A one day, Company B requested a change of which I happily done then and there using a web inspector. It was a simple recoloring of the header if I recall, so a simple hex code change. Apparently the speed of which I done this stuck with the project manager at Company B and therefore when time came to replace Company A he thought of me.</p>

<p>Secondly, and more interestingly, God recommended me to Company B&#8217;s representative. Yup, you heard that right. Even as a non-believer, like myself, I have to find that pretty funny to hear. The apparent creator of the universe spoke to Company B&#8217;s representative one night when he was in desperate need for a website that worked and God said &#8220;Greg Cooper&#8221;. Oh and by the way, I now hold the world&#8217;s single greatest reference for a resume should I require one.</p>

<p>However those are minor, minor balls of luck compared to one which was years in the making. As a teenager I played a game called HabboHotel (or Habbo as it&#8217;s known now). I spent vast amounts of time on that game and it eventually became my livelihood. I discovered there was a community of fansites based around the game and that they at times could get hugely popular. I wanted one.</p>

<p>So I set out building fansites. I built a few on my own or with some friends I met on the game. I eventually joined one of the official fansites (a fan site recommended by Habbo themselves to the users). During this time I was often in competition with websites built by a Habbo named Invent!. Many arguments were had over forums and the game about stealing code or design from each other&#8217;s sites. This went on for a good 3 or 4 years before I eventually grew tired of Habbo and moved onto building Klydo (as mentioned above).</p>

<p>Like I said from Klydo I was then hired by Company A and within 3 months of my arrival they were looking for a backend developer. I had an idea, that Invent! guy from Habbo seemed like he would be a pretty good fit. I found him on a forum and asked him to apply for the job and it turned out he already had so I asked my boss to give him an interview. He got the job.</p>

<p>Invent!, or Simon as he prefers to be called, is now the co-founder of my startup and has worked with me pretty much everywhere else since Company A. It was our fighting and disagreements online that eventually brought us together to build sites for companies all over the world. But it was also our ability to fight and forgive that made it a great combination to build products.</p>

<p>At no point as a 14 year old kid could I have told you my plan was to eventually work with Simon at multiple different companies, working on many interesting projects, whilst traveling the world, then eventually opening a startup which would be accepted into the Y Combinator program. The events which led to me getting into Y Combinator took years of build up and years of luck setting itself up for a home run.</p>

<p>So, my wish from the developer communities (especially in my homeland Scotland) is to give luck a chance. But remember it&#8217;s luck which must be created not received.</p>