<h1>Cross Client Emails</h1>

<p>We recently launched a new feature at Stripe to enable email receipts on a successful payment, which you can read more about <a href="https://stripe.com/blog/email-receipts">here</a>. Sticking to Stripe&#8217;s usual style we wanted the emails to look great but this meant caving into the restrictions which are caused by awful HTML and CSS support in the most popular email clients.</p>

<h3>Basic No-Nos</h3>

<p>There&#8217;s some basic things which are just straight up difficult to do. Things like rounded corners, transparency, padding, margin, positioning, and pretty much everything else you use to make an HTML email look great. The only consistantly available styling all refers to font formatting. Which is great but it&#8217;s not enough to make an interesting email.</p>