<h1>Eulogy on the Dog</h1>

<p>The best friend a man has in this world may turn against him and become his enemy. His son or daughter that he has reared with loving care may prove ungrateful. Those who are nearest and dearest to us, those whom we trust with our happiness and our good name, may become traitors to their faith. The money that a man has, he may lose. It flies away from him, perhaps when he needs it the most. A man’s reputation may be sacrificed in a moment of ill-considered action. The people who are prone to fall on their knees to do us honor when success is with us may be the first to throw the stone of malice when failure settles its cloud upon our heads. The one absolutely unselfish friend that a man can have in this selfish world, the one that never deserts him and the one that never proves ungrateful or treacherous is his dog.</p>

<p>A man’s dog stands by him in prosperity and in poverty, in health and in sickness. He will sleep on the cold ground, where the wintry winds blow and the snow drives fiercely, if only he may be near his master’s side. He will kiss the hand that has no food to offer, he will lick the wounds and sores that come in encounters with the roughness of the world. He guards the sleep of his pauper master as if he were a prince. When all other friends desert, he remains. When riches take wings and reputation falls to pieces, he is as constant in his love as the sun in its journey through the heavens.</p>

<p>If fortune drives the master forth an outcast in the world, friendless and homeless, the faithful dog asks no higher privilege than that of accompanying him to guard against danger, to fight against his enemies, and when the last scene of all comes, and death takes the master in its embrace and his body is laid away in the cold ground, no matter if all other friends pursue their way, there by his graveside will the noble dog be found, his head between his paws, his eyes sad but open in alert watchfulness, faithful and true even to death.</p>

<p>&#8211; <a href="http://en.wikipedia.org/wiki/George_Graham_Vest#Old_Drum">George Graham Vest</a></p>

<p><em><strong>Update September 6th, 2013:</strong> My dog Daka had to be put to sleep after 16 good years (nearly 17) with him. This article rings truer now than when I originally posted it way back in 2010 when we originally started to worry about him.</em></p>