<h1>Facebook Chat in Messages for Mac</h1>

<p>I&#8217;ve used many instant messaging clients over the years. Especially since the move to Mac back in 2007, I&#8217;ve particularly found Adium and Trillian to be the best matches for me. However with the release of Messages on Mac it&#8217;s now a little frustrating to have two messaging applications sitting on my dock.</p>

<p>By default Messages accepts AIM, Jabber, Google Talk, and of course your Apple account to enable you to send and receive messages to iPhones and iPads. One thing that bugged me though was the lack of (easy to use) support for Facebook. I like to have all my messaging services logged in at once to make me available to my various contact lists.</p>

<h4>Use Jabber</h4>

<p>Once I realized that Facebook&#8217;s chat can be logged into any client which supports Jabber, the solution was merely a case of setting up my account in Messages.</p>

<p>Firstly open up <strong>Messages</strong> then go to <strong>Preferences</strong>. From here you&#8217;ll want to select the <strong>Accounts</strong> tab and click the small <strong>&#8221;+&#8221;</strong> icon at the bottom left to add a new account. Then input the following information.</p>

<ul>
  <li><strong>Account Type:</strong> Jabber</li>
  <li><strong>Account Name:</strong> [Your Username]@chat.facebook.com</li>
  <li><strong>Server:</strong> chat.facebook.com</li>
  <li><strong>Port:</strong> 5222</li>
</ul>

<p><img src="../assets/imgs/articles/facebook-messages-setup.png" alt="Setup Screenshot" title="Setup Screenshot" /></p>

<p>You&#8217;ll want to leave <strong>Use SSL</strong> and <strong>Use Kerberos</strong> unchecked. If you don&#8217;t have a Facebook username yet then go to <a href="http://facebook.com/username">facebook.com/username</a> and set one for yourself.</p>

<p>It really is as easy as that. Your Facebook contacts should be listed under Facebook Friends and it&#8217;s relatively nice to use. There aren&#8217;t any major set backs compared to the web interface that I&#8217;ve come across yet.</p>