<h1>Final Customization</h1>

<p>I wanted to talk a little about offering customization options on software-as-a-service products.
Specifically, colors and themes.</p>

<p>In the earlier days of Interstate we worked pretty hard in order to allow people to customize the
internal interface of the product. We saw so many other companies in a similar area doing it that
we automatically assumed it was a great selling point.</p>

<p>I all kind of makes sense, it was a pretty straight-forward feature which added some nice personas
to the product based on the user&#8217;s wishes. It meant a user could effectively make Interstate their
own baby and to make it match their company or product.</p>

<h3>Making it work&#8230;</h3>

<p>On the surface it&#8217;s a pretty straight forward feature. CSS3 allows you to easily make gradients
for things like toolbars, buttons, and controls all using transparency with a simple HEX code
background color. Here&#8217;s how straight forward it looks (ignoring vendor prefixes);</p>

<pre><code>background-color: #008cdd; /* changing this changes the whole gradient */
background-image: linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.5));
border-radius: 5px;
float: right;
margin: 40px 0 40px 20px;
padding: 10px 16px;
text-align: center;
width: 180px;
</code></pre>

<div style="background-color: #008cdd; background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.5), rgba(0,0,0,0.5)); border-radius: 5px; margin: 40px 0 40px 20px; padding: 10px 16px; text-align: center; width: 180px; float: right;">Hello World!</div>

<p>That small piece of CSS generated the blue box to the right. It does allow you to do some pretty
nice stuff. I remember this being done with transparent PNGs back in about 2007/2008 on Virb.
Being able to do the same thing with a very, very simple piece of CSS blows that out the park.</p>

<h3>That&#8217;s good and all&#8230;</h3>

<p>But, it causes some major issues. As a designer I was constantly trying to improve the look and usability of Interstate this led to some very annoying situations when it came to trying to integrate the customization options.</p>