<h1>Changing the default mail client in Chrome</h1>

<p>This has bugged me for a while. I may be a dying breed but I still prefer to use an email client instead of the browser. Which meant when I foolishly setup mailto: links to open in Gmail at the advice of Chrome I suddenly had a broken experience.</p>

<p>So I set out to try and find out what was causing it but a quick Google didn&#8217;t return any easy results. But here&#8217;s what I was able to discover.</p>

<h3>Setup Your Mail Client</h3>

<p>You&#8217;re going to want to make your desired client the default mail reader on your machine if you haven&#8217;t already. Head over to your client&#8217;s preferences and find the option to make it default. Here&#8217;s what it looks like on Sparrow.</p>

<p><img src="../assets/imgs/articles/mailto-sparrow.png" alt="Sparrow's Preferences" title="Sparrow's Preferences" /></p>

<p>This is a little obvious but I suppose some people may forget to do it so this is a reminder. I frustratingly assumed I had Sparrow set as my default when in fact it wasn&#8217;t.</p>

<h3>Chrome Handlers</h3>

<p>Chrome uses what it calls Handlers to&#8230; handle things such as how the browser should react when mailto: links are clicked. You&#8217;re going to want to open up Chrome&#8217;s preferences then display the advanced preferences. Under advanced settings you should find a section called <strong>Privacy</strong> with a nice button labelled <strong>Content Settings</strong>, click away.</p>

<p>Once the Content popup shows you&#8217;ll now want to find <strong>Handlers</strong> and then click <strong>Manage handlers&#8230;</strong>. This should open yet another popup called <strong>Protocol handlers</strong> which looks something like this;</p>

<p><img src="../assets/imgs/articles/mailto-handlers.png" alt="Chrome's Handlers" title="Chrome's Handlers" /></p>

<p>Want a quicker way? Just navigate to <a href="#" onclick="chrome.tabs.create({url:'chrome://settings/handlers'});">chrome://settings/handlers</a> and Chrome should do all the leg work.</p>

<p>Hovering over the <strong>mailto</strong> row will show the <strong>remove this site</strong> link, you can click this or simply change the select to <strong>(none)</strong>. Both seem to work equally well.</p>

<h3>Taadddaaaaaa</h3>

<p>That should it now be back to opening an email client instead of a website. You can try it out by <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#109;&#101;&#064;&#103;&#114;&#101;&#046;&#103;&#115;">emailing me</a>.</p>