<h1>My Startup Story</h1>

<p>I started writing this article in early 2010 and kept it drafted in various forms ever since. Hopefully you can enjoy the rollercoaster or get some inspiration out of my story.</p>

<p>On June 8th 2008 I started life as a &#8220;professional&#8221; or in other words being paid on a full-time basis to design stuff. That to me was incredible, being paid to sit in a trendy office and do essentially what I was doing as a hobby back home was just mind blowing.</p>

<p>Where I started was a small startup called Youmeo which aimed at creating an all-in-one location to keep your social life online moving. Much like FriendFeed but with far more pushing-out possibilities. It was a strange time as this was really my first experience of life outside of my bedroom when it came to designing a website. The requirements set upon me were interesting, confusing and challenging. I was in my element whilst at the same time scared shitless.</p>

<p><img src="../assets/imgs/articles/my-story/youmeo-office.png" alt="Me at Youmeo" title="Me at Youmeo" /></p>

<p>Fortunately the atmosphere was (mostly) relaxed and easy going, this allowed for my transition from bedroom-dweller to professional quite easy. My day to day duties were mostly to design the site how I think it should look with other&#8217;s dropping their opinion in every now and again. Just to point out I was the only designer at the startup so I had pretty free range when it came to design choices.</p>

<p>During my time at Youmeo I ventured into making my own sites, mostly because I really do enjoy working on my own things. The first of them was Tweet O&#8217;Clock.</p>

<p>Tweet O&#8217;Clock started off as a nifty idea in my head one day when I was trying to work out when I should send <a href="http://twitter.com/scobleizer" target="_blank">Robert Scoble</a> an @reply on Twitter. I attempted to manually look at his tweets then work out when he tweeted and what kinds of tweets he was sending (sharing, updates or discussion). I failed at that and therefore decided code should do it for me. I got in touch with my close friend Caleb Mingle who then agreed to code the backend side of things whilst I designed and coded the frontend. All was done in about 3 hours and I went to sleep.</p>

<p><img src="../assets/imgs/articles/my-story/tweetoclock-screenshot.png" alt="Tweet O'Clock's Homepage" title="Tweet O'Clock's Homepage" /></p>

<p>4 or 5 hours later I woke to a frenzy of IMs and text messages about Tweet O&#8217;Clock. As most people would I assumed something had went wrong but it was the complete opposite. Tweet O&#8217;Clock had <a href="https://twitter.com/#!/RealTimeTrends/status/1267454230" target="_blank">begun trending</a> on Twitter and was causing somewhat of a stir with various tech blogs and tech celebs. It even went on to surpass NASCAR on the trending topics list to <a href="https://twitter.com/#!/RealTimeTrends/status/1267556423" target="_blank">take the top spot</a>. NASCAR and Celebrity Apprentice were both knocked down by my little idea, it was fun.</p>

<blockquote class="twitter-tweet"><p><a href="https://twitter.com/search/%23tweetoclock">#tweetoclock</a> - has risen to the #1 trend on twitter. Follow here: <a href="http://idek.net/3nP">http://idek.net/3nP</a> - twIRC Channel: <a href="http://idek.net/3nQ">http://idek.net/3nQ</a></p>&mdash; Real Time Trends (@RealTimeTrends) <a href="https://twitter.com/RealTimeTrends/status/1267556423">March 2, 2009</a></blockquote>
<script async="" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>

<p>On top of Tweet O&#8217;Clock I also built TwigHeaded which worked out how big headed you were on Twitter based on your follow ratio. SearchMerge which aggregated a whole bunch of search services like Google, Twitter, YouTube and even down to Last.FM. Then Today I&#8217;m which was a location based updater which helped you create events on the fly.</p>

<p>I worked at Youmeo for just over 12 months before the management played it dirty and closed the company which in turn meant all of our contracts were cancelled 2/3weeks before we were actually told about it. This then led to me being rather offend and refusing to work any longer without another contract which then ended with me receiving a phone call saying I didn&#8217;t need to come back to work on Monday morning.</p>

<p>I didn&#8217;t care. Mostly due to ignorance of the real world still because I hadn&#8217;t experienced any real bills or financial troubles yet. My mind was still in the position of thinking I was better off without the job because it was becoming a bit shit and was draining my creativity. Then it dawned on me that the place I was staying in was &pound;950 a month on rent alone, then bills were yet to be explained to me. Ended up being around &pound;250 on top of the &pound;950 on bills. This meant that for 6 months I was required to find around &pound;600 since I shared the place with Simon.</p>

<p><img alt="image" src="http://media.tumblr.com/tumblr_lm4t7kNYmY1qz72vi.jpg" /></p>

<p>Fuck it was hard, I had to sell my pride and joy - my iMac. We sold multiple websites and I had to take on a lot of freelance work. All of which I hated with a level of hatred which I&#8217;ve never hated with before.</p>

<p>Simon and I decided we needed to build something which would become our focus in life, Zood was just that thing. Social aggregation had been a big part of our lives for the past year and we thought we might as well give it a shot away from Youmeo. Zood quickly took shape and it was rather impressive what it was able to do. We presented it at two conferences in 2009 and even were asked to appear on the BBC&#8217;s Dragon&#8217;s Den four times before they final gave up asking us.</p>

<p><img alt="image" src="http://media.tumblr.com/tumblr_lm4tjlSOy81qz72vi.jpg" /></p>

<p>After 6 months the rent was finally up and I went back to live with my parents in Scotland. Back to a life of no worries about money but problems with trying to secure a place as an &#8220;adult&#8221;. When you live with your parents for any length of time after having independence for about 18 months you&#8217;re mind is just in a land of frustration. Not saying my parents or family were annoying me, just I was used to having freedom to do anything I wanted to do, at any time of the day. That was completely gone and I suddenly had to relate to other human beings and worry about their wishes/wants. I know, extremely selfish and egotistical but that&#8217;s how my mind worked.</p>

<p>My parents convinced me to go onto Jobseeker&#8217;s Allowance. If you don&#8217;t know what that is it&#8217;s basically a system in the UK which helps you pay for food and bills whilst unemployed and looking for work. I&#8217;m not sure how it works elsewhere but from some quick skimming of Wikipedia it&#8217;s <em>almost</em> like welfare but <em>not quite</em>. This meant I was now getting &pound;51 a week to live on therefore meaning things like travelling back to England for potential job interviews was off the table.</p>

<p>About a month or 2 months into my time staying at my parents I received an email asking if I was Greg Cooper from Youmeo. To which I responded to and it turned into a 6 month working contract back down in the West Midlands of England (literally 20 minutes from Coventry). The email was from one of Youmeo&#8217;s old clients who were fed up with the shoddy work and slow pace of things, especially when they were paying such a high price. Myself and Simon were both invited down to their office where we were accepted for the jobs and started working for them 3 weeks later.</p>

<p>The company in question, ChristianVision, was in fact a charity aimed at spreading the Christian word. Just to point out I&#8217;m an Atheist which led to some rather interesting conversations and debates in the office and on business trips. We were brought in to correct the mess that Youmeo had left after around 18 months of working with ChristianVision. This was all because of Gavin (Project Manager at ChristianVision) had remembered that during a meeting in the Youmeo office I was able to change something within a matter of minutes when normally Youmeo would of charged him hundreds of pounds in fees. Just goes to show the little things you do when working with someone can leave a lasting impression.</p>

<p>Within our first two months we had completely recoded their on-demand and live broadcasting service called Boost.tv. We flew to Miami to teach the staff how to use the new website and launch the new site. Just as a tid bit, if you have to fly your team anywhere to teach people how to use your site/software then it&#8217;s built wrong. In this case it was just the &#8220;done&#8221; thing even though the site was simple enough.</p>

<p>During our trip there was a rather odd situation where the Miami manager tried to falsely claim Boost.tv&#8217;s new site wasn&#8217;t ready to be launched and therefore the date had to be pushed back. This confused us as we had worked 13 hour days in the UK office in order to meet the deadline which we did. Turns out she didn&#8217;t think their content was good enough for the new site so tried to hide that fact by claiming we were late to release. The reason for the badly produced content was because of how bad the previous site was.</p>

<p>We returned to the UK where we were told we were to fly to Australia to discuss the future of the companies presence online. Might be worth pointing out that the company had about 20 individual websites (if not more) online and not one of them was anything close to a well built website. Seems they were just trying too hard to reach all markets before they had success in any. We were meant to be in Australia for 2 months but it was cut short 3 weeks into the trip when we were told we had been let go by the company. We were given two plane tickets and told to pack our things, we did and we flew back to the UK. The company had told us all this whilst we still had 2 months contracted time left, this allowed us to save up some cash.</p>

<p>Interstate was born. Whilst trying to look for new work and freelance projects we started building Interstate. Purely because was wanted a tool which would allow us to share development status of the things we were working on. It started of as a very simple application, so simple in fact the layout was only 700 pixels wide which in the age of web apps is tiny! It was popular&#8230;</p>

<p><img alt="image" src="http://media.tumblr.com/tumblr_lm4u1vT8MM1qz72vi.png" /></p>

<p>We quickly realised we weren&#8217;t the only ones who wanted development roadmaps in this form. A lot of startups and big tech names suddenly flooded into our invite request list. It was decided that Interstate was going to be our foreseeable future and BakedCode was formed to become the owning company which would build this product.</p>

<p>ChristianVision came back to us and asked us to work on their Russian based service which was identical to Boost.tv in every way except&#8230; was in Russian. We were back on board and earning good money again overhauling a site and going through the exact same process as we did with Boost.tv. November rolled around and off to Ukraine we went to do the exact same thing as we did in Miami, a pointless, expensive trip which just wasn&#8217;t required. After that work with ChristianVision was on and off, purely on a freelance basis. This allowed us to easily raise money to fund Interstate.</p>

<p>We worked for ChristianVision for another couple of month&#8217;s leading into 2011, then we applied for Y Combinator. We literally spent about a month writing the application, amending the wording, recording a pitch video and basically making sure we had perfected the application.</p>

<p>On April 7th 2011, we were officially invited over to Mountain View to the Y Combinator offices for an interview. This meant all of our money was suddenly poured into an <a href="http://www.airbnb.com/rooms/34799" target="_blank">AirBnB rental</a> and two return tickets to San Francisco International Airport. All in all I was roughly $7,000 by the time all of our expenses were added up, one hell of an expensive interview!</p>