<h1>Qualifications</h1>

<p>I&#8217;m someone who left high school with some acceptable grades then took a running jump into the world of software development. I wanted to explain a few things about why I think this is a good and bad idea.</p>

<h3>A couple of the goods&#8230;</h3>

<p>First up it&#8217;s the money factor. Fortunately for me I&#8217;m from a country where a lot of the higher education is state funded so this wouldn&#8217;t have been an issue for me personally but I know many people who this does affect.</p>

<p>To attend university in the likes of the USA it&#8217;s roughly $31,000 (£20,800 or €24,200) per year on average. That&#8217;s not for the good universities, that&#8217;s just the average cost across the country. I&#8217;ve heard horror stories of the likes of Harvard and Stanford running up to nearly $100,000 per year if not more.</p>

<p>Now if I look back to my first job as a designer, I was being paid £16,000 per year. That job was full-time and of course since it was a startup I worked pretty much most of my days and weekends. There is no way in hell I could afford to pay to attend a low level univeristy on that kind of wage. That means my only option would be to take out a student loan, and that&#8217;s not a word I like, loaannnn.</p>

<p>I hate the idea of me owing someone money. The idea that someone else has a financial stake in my life is horrific. In fact there is very little in my life where I owe someone money. I do not have any loans or credit cards, my phone &#8220;contract&#8221; is rolling therefore can be cancelled whenever I wish, and my living situation is rent with very little requirements from me if I suddenly can&#8217;t afford to live there anymore.</p>

<p>This means I have avoided years of student debts over my head by simply bypassing university altogether and getting a job instead. This hasn&#8217;t affect my career choices either in all honesty. There have been times in the early days where people asked if I had qualifications and I would simply prove my worth another way.</p>

<h3>And now the bads&#8230;</h3>