<h1>@stripe</h1>

<p><img src="../assets/imgs/articles/stripe-logo.png" alt="Stripe's Logo" title="Stripe's Logo" /></p>

<p>I recently joined the guys at <a href="http://stripe.com">Stripe</a> to become part of their design team. This is an opportunity I was very happy to grab with both hands because Stripe has been a company I&#8217;ve admired for a long time. Its name often came up in hypothetical conversations between friends of where we&#8217;d see ourselves working if we didn&#8217;t have our own startups.</p>

<p>I felt this was also a great time to update my personal site and move away from Tumblr. Tumblr has been great over the years but now it just doesn&#8217;t suit my needs. I&#8217;ve lost interest in doing any blogging but want something more flexible when I do want to write something.</p>

<p>My solution has been to switch over to a public GitHub repository and stick to a simple HTML+CSS setup. I&#8217;ll be using Hammer to make the managing of multiple pages easier and will be trying out Bourbon for the first time (only used Compass up until now).</p>

<p>As for the blog entries themselves I&#8217;ll just be using Markdown. Hammer makes it super easy to compile Markdown files into HTML and include them within HTML pages. This also gives me some room for fancy tricks in the future for individual entries.</p>

<p>For now though be sure to follow me on <a href="http://dribbble.com/awfy">Dribbble</a> to see some of the things I&#8217;m working on over at Stripe.</p>