<h1>Time</h1>

<p>I sometimes sit and think about what the world will be like 100 years from now, I then think what will it be like 1,000,000 years from now. Every time I do so I feel sad, sad that I will never experience or at least witness the human form, the technology, the society and the planet one million years older.</p>

<p>Whenever the question “Would you like to live forever?” is asked my answer is <strong>always</strong> “YES”. I want to be able to experience every year, every month, every day of this planet’s lifetime. If I was to die I’d want to decide when, just like I decide when I want to switch my laptop off.</p>

<p>Can you imagine what the human of year 1,002,010 will look like? Evolution will have changed us to some degree and we’ll be nothing like we are today. I can only imagine a much larger form altogether, both weight and height. We are currently growing as a population with the average height constantly increasing.</p>

<p>Think about the technology! Robots will finally exist, every human will have an Apple computer in place of their heart, iPods will be implanted into your ear, the internet will simply be known as life, whenever you want to be somewhere or see something Google will take you there over thin air. The possibilities of 1,000,000 years of development in technology are unlimited.</p>

<p>Society, that’s the strange one. On  the whole I think we will all become more accepting of everything, religion will lose it’s hold on the human race, people will find something else to believe and have faith in, shock will be an emotion rarely felt and kids will continue to get older at a younger age.</p>

<p>Our planet will be different. Over 1,000,000 years places like London, New York, Dubai and Toyko will be the size of countries. Trees will be more plentiful, the sky will be bluer, the sea will be clearer and non-human species will be protected. We will run a planet more efficient than your bladder when your pee is clear.</p>

<p>Still, we could be killed by an outbreak of a life threatening disease, aliens shooting us from their spinning craft, a meteoroid hitting us in the face, Earth falling into the Sun, God and his butter fingers dropping Earth into a black hole or Meerkat’s learning to communicate in Latin. All of which will prevent the human race from existing.</p>

<p>It’s nice to think about surviving all that though…</p>