<h1>Keeping Windows In Position Across Displays On Mac</h1>

<p>For a while now I&#8217;ve had the problem of rearranging my application windows whenever I connected or disconnected my MacBook to a display. I first had it with my 15&#8221; MacBook Pro to a 24&#8221; Cinema Display back in 2010 and now have run into the same problem after getting a 13&#8221; MacBook Air and the 27&#8221; Cinema Display.</p>

<p>For a while I just used window snapping or arranging tools which allowed me to use keyboard shortcuts or drag-n-drop to arrange the windows by size and position. This was fine but still meant I had to do it every time I connected or disconnected, since I do this twice a day minimum it started to get frustrating.</p>

<p><img src="http://media.tumblr.com/tumblr_lxl9mz8FwR1qz72vi.png" alt="Stay Screenshot" title="Stay Screenshot" /></p>

<p>I&#8217;ve now found what seems to be a pretty full proof solution to this, although slightly pricey for my taste. <a href="http://itunes.apple.com/app/stay/id435410196" target="_blank">Stay</a> is a menubar application which allows you to record the positioning of windows per display size. That means it detects the display resolution you&#8217;re using and arranges the windows how you saved previously. The price of $14.99 is steep but worth it if you connect and disconnect a lot I suppose.</p>

<p>I have experienced an issue with Google Chrome automatically being restored to the correct size and position. So far this is the only application I&#8217;ve found which doesn&#8217;t, but I simply use <a href="http://itunes.apple.com/us/app/window-magnet/id441258766" target="_blank">Window Magnet</a>. Again it&#8217;s a tad pricey at $4.99 but worth it for originally arranging your windows into various sizes and positions.</p>