@import url("http://fonts.googleapis.com/css?family=Open+Sans:700,600,400");
html{height:100%}body{background:#20354e;}body h1{position:absolute;top:50%;display:block;margin-top:-18px;width:100%;color:#b5d2d4;font-family:"Open Sans","Helvetica Neue",Helvetica,sans-serif;font-size:28px;font-weight:600;line-height:36px;text-align:center;vertical-align:middle}